<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.statistic.mapper.BrowerMapper">

    <insert id="insertStatistic" parameterType="com.bs.statistic.po.Statistic">
        insert into statistic(statistic_id, operator_id, operate_time, catalog, business_id)
        values(#{statisticId}, #{operatorId}, #{operateTime}, #{catalog}, #{businessId})
    </insert>

    <select id="queryBrowerCount" parameterType="com.bs.statistic.vo.BrowerCountVo" resultType="com.bs.statistic.vo.BrowerCountResVo">
        select
            count(s.business_id) browerCount, s.business_id businessId
        from
            statistic s
        where
            s.business_id = #{businessId}
        <if test="type == 'day'">
            and s.operate_time between date_format(now(),'%Y-%m-%d 00:00:00') and date_format(now(),'%Y-%m-%d 23:59:59')
        </if>
    </select>
</mapper>